<div class="container">
  <div class="content" *ngIf="order">
    <app-title title="Receipt"></app-title>
    <div class="orderNo">
      <h1>
        <strong>Order #{{ order.id }}</strong>
      </h1>
    </div>
    <div class="details">
      <div>
        <strong>Date: </strong>
        <span>{{ order.createdAt | date : "medium" }}</span>
      </div>
      <div>
        <strong>Name: </strong><span>{{ order.name }}</span>
      </div>
      <div>
        <strong>Phone Number: </strong><span>{{ order.phoneNumber }}</span>
      </div>
      <div>
        <strong>Status: </strong> <span>{{ order.status }}</span>
      </div>
      <div *ngIf="order.paymentId">
        <strong>Payment Id: </strong> <span> {{ order.paymentId }}</span>
      </div>
    </div>
    <order-items-list [order]="order"></order-items-list>
  </div>
</div>
