.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
}

.container > * {
  min-width: 25rem;
  max-width: 40rem;
}

.container img {
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 25rem;
  margin: 1rem;
}

.container .details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: 3rem;
  padding: 2rem;
  color: black;
  margin-left: 1rem;
}

.container .details .header {
  display: flex;
  justify-content: space-between;
}

.container .details .header .name {
  font-size: 2rem;
  font-weight: bold;
  color: royalblue;
}

.container .details .header .favorite {
  font-size: 2rem;
  color: royalblue;
}

.container .details .header .favorite.not-favorite {
  color: grey;
}

.container .details .description {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

/* #fav:hover {
  cursor: pointer;
} */

.container .details .description span {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.container .details .tags {
  display: flex;
  flex-wrap: wrap;
}

.container .details .tags a {
  background-color: aliceblue;
  opacity: 0.65;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  margin-bottom: 2rem;
  border-radius: 10rem;
  font-weight: 500;
  color: rgb(66, 56, 204);
}
.container .details .tags a:hover {
  cursor: pointer;
  opacity: 1;
}

.container .details .header .wait-time {
  font-weight: bold;
  margin-top: 1rem;
}

.container .details .header .wait-time span {
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
}

.container .details .price {
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
}
.container .details .price::before {
  content: "Price: Ksh ";
  font-weight: 600;
}

.container .details button {
  color: whitesmoke;
  background-color: royalblue;
  border: none;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 15rem;
  opacity: 0.9;
}
.container .details button:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 10rem;
  transition: 0.5s ease-in-out;
  transform: scale(1.04);
}

.arrow {
  padding: 0.3rem;
  position: fixed;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  color: whitesmoke;
  animation: bounce 2s infinite;
  animation-delay: 1s;
  cursor: pointer;
  background-color: rgb(90, 125, 233);
  border-radius: 100rem;
}
.arrow:hover {
  animation: none;
}

.arrow:hover::before {
  content: "Add to Cart";
  font-size: 0.8rem;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (min-width: 950px) {
  .arrow {
    display: none;
  }
}
