<!-- This is a template for displaying details of a food item. The `<app-not-found>` component is used to
display a message if the food item is not found. The `<div>` with `*ngIf="food"` is used to display
the details of the food item if it exists. The details include an image, name, rating, description,
tags, wait time, price, and a button to add the item to the cart. The `*ngFor` directive is used to
loop through the tags of the food item and display them as links. -->
<app-not-found
  [visible]="!food"
  notFoundMessage="Product Not Found"
></app-not-found>
<app-title title="Food Page" margin="1.5rem 0 0 2.5rem"></app-title>
<p class="arrow" (click)="scrollToAddToCart()">&darr;</p>
<div *ngIf="food" class="container">
  <img [src]="food.imgUrl" [alt]="food.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ food.name }}
      </span>
      <span
        class="favorite {{ food.favorite ? '' : 'not-favorite' }}"
        (click)="toggleFavorite()"
        >&#x2764;</span
      >
      <!-- <span
        class="favorite {{ localFavorite ? '' : 'not-favorite' }}"
        *ngIf="hidden"
        >&#x2764;</span
      > -->
    </div>
    <div class="rating">
      <star-rating
        [value]="food.stars"
        [totalstars]="5"
        checkedcolor="royalblue"
        uncheckedcolor="grey"
        size="25px"
        [readonly]="true"
      >
      </star-rating>
    </div>

    <div class="description">
      <span>
        {{ food.description }}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{ tag }}">
        {{ tag }}
      </a>
    </div>

    <div class="wait-time">
      <span
        >Time to Serve <strong>{{ food.waitTime }}</strong></span
      >
    </div>

    <div class="price">
      <span>
        {{ food.price }}
      </span>
    </div>

    <button (click)="addToCart()" id="cart-button">Add To Cart</button>
  </div>
</div>
