.container {
  width: 90vw;
  height: 90vh;
  margin: 1rem 2rem 6rem 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content {
  width: 80vw;
  height: 80vh;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 2rem;
  width: 35rem;
}

button {
  color: whitesmoke;
  background-color: royalblue;
  border: none;
  width: 50vw;
  max-width: 25rem;
  height: 3rem;
  opacity: 1;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

button:hover {
  opacity: 0.85;
  transition: 0.5s ease-in-out;
  box-shadow: 2px 2px 2px 2px #ccc;
  cursor: pointer;
}
