.container {
  width: 90vw;
  height: 90vh;
  margin: 1rem 2rem 6rem 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content {
  width: 80vw;
  height: 80vh;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
}

.summary > div {
  margin-bottom: 1rem;
  margin-top: 0.8rem;
}
.summary > span {
  font-size: 1.3rem;
}
.summary > h3 {
  margin: 0rem 1rem 0rem 0rem;
  flex-basis: 5rem;
}

.buttons {
  margin-top: 2rem;
  max-width: 35rem;
  border-bottom: 1px solid grey;
}
#tingg-button {
  margin-bottom: 5rem;
}

.arrow {
  padding: 0.3rem;
  position: fixed;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  color: whitesmoke;
  animation: bounce 2s infinite;
  animation-delay: 1s;
  cursor: pointer;
  background-color: rgb(90, 125, 233);
  border-radius: 100rem;
}
.arrow:hover {
  animation: none;
}

.arrow:hover::before {
  content: "PAY";
  font-size: 0.8rem;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (min-width: 950px) {
  .arrow {
    display: none;
  }
}
