<div class="container">
  <div class="content">
    <app-title title="Confirmation Page" fontSize="1.5rem"></app-title>
    <p class="arrow" (click)="scrollToAddToPayButton()">&darr;</p>
    <div class="summary">
      <div>
        <h3 class="label"><strong>Name</strong></h3>
        <span class="value">{{ currentOrder.name }}</span>
      </div>
      <div>
        <h3 class="label"><strong>Email</strong></h3>
        <span class="value">{{ currentOrder.email }}</span>
      </div>
      <div>
        <h3 class="label"><strong>Phone Number</strong></h3>
        <span class="value">{{ currentOrder.phoneNumber }}</span>
      </div>
    </div>

    <order-items-list [order]="currentOrder"></order-items-list>
    <div class="buttons-container">
      <div class="buttons">
        <payment-button
          [order]="currentOrder"
          id="paypal-button"
        ></payment-button>
      </div>
      <div class="buttons" id="tingg-button">
        <app-tingg-payment-button
          [order]="currentOrder"
        ></app-tingg-payment-button>
      </div>
    </div>
  </div>
</div>
