<header>
  <div class="container">
    <a href="" routerLink="/" class="logo">My Snack Bar</a>
    <nav>
      <ul>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile" class="profile">Profile</a>
            <a routerLink="/orders" class="orders">Orders</a>
            <a class="logout" (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page" class="cart-link"
            >Cart 🛒<span class="number" *ngIf="cartQuantity">{{
              cartQuantity
            }}</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
