<!-- This is a block of HTML code that creates a login form with two input fields for email and password,
and a submit button. It is wrapped in two nested div elements with classes "container" and "details"
for styling purposes. The form is bound to a FormGroup object called "loginForm" and has a submit
event handler called "submit()". The input fields are custom components called "text-input" that
take in a FormControl object and a boolean value to determine if an error message should be
displayed. The submit button is a custom component called "default-button" with the text "Login". -->
<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <text-input
        [control]="fC.phoneNumber"
        [showErrorIf]="isSubmitted"
        label="Phone Number"
      ></text-input>
      <text-input
        [control]="fC.password"
        [showErrorIf]="isSubmitted"
        type="password"
        label="Password"
      ></text-input>
      <default-button text="Login"></default-button>
      <div class="register">
        New User? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }"
          >Register</a
        >
      </div>
    </form>
  </div>
</div>
