<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label>Email</label>
        <div>
          <input type="email" formControlName="email" placeholder="Email" />
        </div>
        <div class="error-list" *ngIf="fC.email.errors && isSubmitted">
          <div *ngIf="fC.email.errors.required">Email is empty</div>
          <div *ngIf="fC.email.errors.email">Email is invalid</div>
        </div>
      </div>
      <div class="input-container">
        <label>Password</label>
        <div>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <div class="error-list" *ngIf="fC.password.errors && isSubmitted">
          <div *ngIf="fC.password.errors.required">Password is empty</div>
        </div>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
