<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <button class="awesome-checkout-button"></button>

    <script src="https://developer.tingg.africa/checkout/v2/tingg-checkout.js"></script>

    <script type="text/javascript">
      // Render the checkout button
      Tingg.renderPayButton({
        text: "Proceed to Checkout",
        color: "purple",
        className: "awesome-checkout-button",
      });

      document
        .querySelector(".awesome-checkout-button")
        .addEventListener("click", function () {
          fetch("http://localhost:5000/checkout?type=redirect")
            .then((resp) => {
              return resp.json();
            })
            .then((json) => {
              console.log(json);
              window.location.href = json.data;
            })
            .catch((error) => {
              console.log(error);
            });
        });
    </script>
  </body>
</html>
