<script src="https://developer.tingg.africa/checkout/v2/tingg-checkout.js"></script>

<button class="awesome-checkout-button">Pay</button> //any name

<script type="text/javascript">
  //   <!-- `const payload` is defining an object that contains un-encrypted parameters collected against a
  //   request in JSON format. These parameters will be used later in the code to be encrypted and sent to
  //   the Tingg API for payment processing. -->
  const payload = {
    //   "merchantTransactionID" : "testing123",
    //   "requestAmount" : 200,
    //   "currencyCode" : "KES",
    //   "accountNumber" : "ACC123",
    //   "serviceCode" : "TESTDEV123",
    //   "dueDate" : "2023-11-16 0:0:0",
    //   "requestDescription" : "Getting service/good x",
    //   "countryCode" : "KE",
    //   "languageCode": "en",
    //   "customerFirstName" :"John",
    //   "customerLastName" : "Smith",
    //   "MSISDN" : "254712345678",
    //   "customerEmail" : "johndoe@gmail.com",
    //   "paymentWebhookUrl" : "<YOUR_CALLBACK_URL>",
    //   "successRedirectUrl" : "<YOUR_SUCCESS_REDIRECT_URL>",
    //   "failRedirectUrl" : "<YOUR_FAIL_REDIRECT_URL>"
    // un-encrypted parameters collected against a request in json format
  };
  const checkoutType = "redirect"; // or 'modal'

  // Render the checkout button
  Tingg.renderPayButton({
    text: "Proceed to Checkout",
    color: "purple",
    className: "awesome-checkout-button",
  });

  document
    .querySelector(".awesome-checkout-button")
    .addEventListener("click", function () {
      //Call the encryption URL to encrypt the params and render checkout
      function encrypt() {
        return fetch("<YOUR_ENCRYPTION_ENDPOINT>", {
          method: "POST",
          body: JSON.stringify(payload),
          mode: "cors",
        }).then((response) => response.json());
      }
      encrypt()
        .then((response) => {
          // Render the checkout page on click event
          Tingg.renderCheckout({
            checkoutType,
            merchantProperties: response, //{params: '', accessKey: '', countryCode: ''}
          });
        })
        .catch((error) => console.log(error));
    });
</script>
